@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

@layer base {
  html {
    font-family:
      Montserrat,
      system-ui sans-serif;
  }
}

body {
  color: #003953;
}

.modalStyle .ant-modal-content .ant-modal-body {
  background-color: #01579b;
  font-family:
    Montserrat,
    system-ui sans-serif;
}

.ant-tabs-ink-bar {
  height: 3px !important;
}

.ant-pagination-item-active {
  background-color: #0b8199 !important;
  color: white !important;
  border-radius: 6px !important;
}
.ant-pagination .ant-pagination-item-active {
  font-weight: 400 !important;
  border-color: #edf2f7 !important;
}
.ant-pagination-item-active > a {
  color: white !important;
  border-radius: 6px !important;
}
.ant-pagination-item:not(.ant-pagination-item-active) {
  border-color: #edf2f7 !important;
  background-color: white;
  border-radius: 6px !important;
}

.ant-pagination-item-ellipsis {
  background-color: white;
  border: 1px solid #edf2f7;
  border-radius: 6px !important;
}

.ant-pagination-prev,
.ant-pagination-next {
  border-color: #edf2f7 !important;
  background-color: white;
  border-radius: 6px !important;
}

.ant-tabs-nav {
  border-bottom: 1px solid #dfdfe2;
}
.ant-tabs-tab-btn {
  font-weight: 600;
  line-height: 1.5rem;
  width: 141px;
  display: flex;
  justify-content: center;
}

.ant-select-selection-item {
  color: #0d1939;
}

@media only screen and (max-width: 1023px) {
  .ant-tabs-tab {
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
  }

  .ant-tabs-nav > div:nth-of-type(1) {
    display: unset !important;
    width: 100% !important;
  }

  .ant-tabs-nav-list {
    display: flex;
    justify-content: center;
  }
}

.ant-collapse-content {
  border-top: 1px solid #f4f5f5 !important;
}

.ant-tabs-tab-btn {
  color: #868c9c;
}

.ant-tabs-tab-active {
  color: #0b8199 !important;
  opacity: 1 !important;
}

.ant-collapse-header {
  display: flex;
  align-items: center !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ant-input-group-addon {
  background-color: #0b8199 !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #0b8199 !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #0b8199;
}

.ant-radio-inner {
  background-color: white !important;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #0b8199;
}
.ant-radio-input {
  background-color: white !important;
}

.ant-select-selector {
  border-radius: 0.5rem !important;
}

.ant-popover-arrow {
  display: none !important;
}

.ant-popover-inner {
  border-radius: 4px !important;
}

.ant-modal-content {
  border-radius: 10px !important;
  padding: 0 !important;
}

.ant-switch:not(.ant-switch-checked) {
  background: #868c9c;
}

.ck-editor__editable {
  min-height: 200px;
}
.ant-tag-close-icon {
  color: #003953 !important;
}

.custom-ql-snow .ql-toolbar {
  border-top-right-radius: 6px 6px;
  border-top-left-radius: 6px 6px;
}

.custom-ql-snow.ql-error .ql-toolbar {
  border-color: #ea3434 !important;
}

.custom-ql-snow .ql-container {
  min-height: 200px;
  border-bottom-right-radius: 6px 6px;
  border-bottom-left-radius: 6px 6px;
}

.custom-ql-snow.ql-error .ql-container {
  border-color: #ea3434 !important;
}

.custom-ql-bubble.ql-error {
  border-color: #ea3434 !important;
}

.custom-ql-bubble .ql-toolbar {
  border-top-right-radius: 6px 6px;
  border-top-left-radius: 6px 6px;
}

.custom-ql-bubble .ql-editor {
  padding: 0;
}

.custom-ql-bubble .ql-container {
  border-bottom-right-radius: 6px 6px;
  border-bottom-left-radius: 6px 6px;
}

/* .ql-editor { */
/*   font-family: Montserrat; */
/* } */

.ant-picker-ok button {
  background-color: #0b8199 !important;
  border-radius: 6px;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
}

/* .ant-radio-wrapper { */
/*   display: flex !important; */
/*   align-items: start !important; */
/* } */

.select-page .ant-select-selection-item {
  display: flex;
  justify-content: center;
}
.tag-selector .ant-select-selector {
  min-height: 36px;
}

/* @font-face { */
/*   font-family: SF UI Display Regular; */
/*   src: url("/fonts/Montserrat-Regular.ttf"); */
/* } */

.title_bold_40 {
  @apply font-bold text-5xl;
}

.title_semibold_40 {
  @apply font-semibold text-5xl;
}

.title_regular_40 {
  @apply font-normal text-5xl;
}
.title_bold_32 {
  @apply font-bold text-4xl;
}

.title_semibold_32 {
  @apply font-semibold text-4xl;
}

.title_regular_32 {
  @apply font-normal text-4xl;
}

.title_bold_24 {
  @apply font-bold text-2xl;
}

.title_semibold_24 {
  @apply font-semibold text-2xl;
}

.title_regular_24 {
  @apply font-normal text-2xl;
}

.title_bold_20 {
  @apply font-bold text-xl;
}

.title_semibold_20 {
  @apply font-semibold text-xl;
}

.title_regular_20 {
  @apply font-normal text-xl;
}

.body_bold_20 {
  @apply font-bold text-xl;
}

.body_semibold_20 {
  @apply font-semibold text-xl;
}

.body_regular_20 {
  @apply font-normal text-xl;
}

.body_bold_16 {
  @apply font-bold text-base;
}

.body_semibold_16 {
  @apply font-semibold text-base;
}

.body_regular_16 {
  @apply font-normal text-base;
}

.body_bold_14 {
  @apply font-bold text-sm;
}

.body_semibold_14 {
  @apply font-semibold text-sm;
}

.body_regular_14 {
  @apply font-normal text-sm;
}

.caption_bold_12 {
  @apply font-bold text-xs;
}
.caption_semibold_12 {
  @apply font-semibold text-xs;
}
.caption_regular_12 {
  @apply font-normal text-xs;
}

.caption_bold_14 {
  @apply font-bold text-sm;
}
.caption_semibold_14 {
  @apply font-semibold text-sm;
}
.caption_regular_14 {
  @apply font-normal text-sm;
}

.caption_bold_16 {
  @apply font-bold text-base;
}
.caption_semibold_16 {
  @apply font-semibold text-base;
}
.caption_regular_16 {
  @apply font-normal text-base;
}

.caption_bold_20 {
  @apply font-bold text-xl;
}
.caption_semibold_20 {
  @apply font-semibold text-xl;
}
.caption_regular_20 {
  @apply font-normal text-xl;
}

.caption_bold_24 {
  @apply font-bold text-2xl;
}
.caption_semibold_24 {
  @apply font-semibold text-2xl;
}
.caption_regular_24 {
  @apply font-normal text-2xl;
}

.caption_bold_32 {
  @apply font-bold text-4xl;
}
.caption_semibold_32 {
  @apply font-semibold text-4xl;
}
.caption_regular_32 {
  @apply font-normal text-4xl;
}

.caption_bold_40 {
  @apply font-bold text-5xl;
}
.caption_semibold_40 {
  @apply font-semibold text-5xl;
}
.caption_regular_40 {
  @apply font-normal text-5xl;
}

/* body { */
/*   color: rgb(var(--foreground-rgb)); */
/*   background: linear-gradient( */
/*       to bottom, */
/*       transparent, */
/*       rgb(var(--background-end-rgb)) */
/*     ) */
/*     rgb(var(--background-start-rgb)); */
/* } */
/**/
/* @layer utilities { */
/*   .text-balance { */
/*     text-wrap: balance; */
/*   } */
/* } */
