@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

@layer base {
  html {
    font-family:
      Montserrat,
      system-ui sans-serif;
  }
}

body {
  color: #003953;
}

.modalStyle .ant-modal-content .ant-modal-body {
  background-color: #01579b;
  font-family:
    Montserrat,
    system-ui sans-serif;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #0b8199 !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #0b8199;
}

.ant-radio-inner {
  background-color: white !important;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #0b8199;
}
.ant-radio-input {
  background-color: white !important;
}

.ant-select-selector {
  border-radius: 0.5rem !important;
}

/* @font-face { */
/*   font-family: SF UI Display Regular; */
/*   src: url("/fonts/Montserrat-Regular.ttf"); */
/* } */

.title_bold_40 {
  @apply font-bold text-5xl;
}

.title_semibold_40 {
  @apply font-semibold text-5xl;
}

.title_regular_40 {
  @apply font-normal text-5xl;
}
.title_bold_32 {
  @apply font-bold text-4xl;
}

.title_semibold_32 {
  @apply font-semibold text-4xl;
}

.title_regular_32 {
  @apply font-normal text-4xl;
}

.title_bold_24 {
  @apply font-bold text-2xl;
}

.title_semibold_24 {
  @apply font-semibold text-2xl;
}

.title_regular_24 {
  @apply font-normal text-2xl;
}

.title_bold_20 {
  @apply font-bold text-xl;
}

.title_semibold_20 {
  @apply font-semibold text-xl;
}

.title_regular_20 {
  @apply font-normal text-xl;
}

.body_bold_20 {
  @apply font-bold text-xl;
}

.body_semibold_20 {
  @apply font-semibold text-xl;
}

.body_regular_20 {
  @apply font-normal text-xl;
}

.body_bold_16 {
  @apply font-bold text-base;
}

.body_semibold_16 {
  @apply font-semibold text-base;
}

.body_regular_16 {
  @apply font-normal text-base;
}

.body_bold_14 {
  @apply font-bold text-sm;
}

.body_semibold_14 {
  @apply font-semibold text-sm;
}

.body_regular_14 {
  @apply font-normal text-sm;
}

.caption_bold_12 {
  @apply font-bold text-xs;
}
.caption_semibold_12 {
  @apply font-semibold text-xs;
}
.caption_regular_12 {
  @apply font-normal text-xs;
}

.caption_bold_14 {
  @apply font-bold text-sm;
}
.caption_semibold_14 {
  @apply font-semibold text-sm;
}
.caption_regular_14 {
  @apply font-normal text-sm;
}

.caption_bold_16 {
  @apply font-bold text-base;
}
.caption_semibold_16 {
  @apply font-semibold text-base;
}
.caption_regular_16 {
  @apply font-normal text-base;
}

.caption_bold_20 {
  @apply font-bold text-xl;
}
.caption_semibold_20 {
  @apply font-semibold text-xl;
}
.caption_regular_20 {
  @apply font-normal text-xl;
}

.caption_bold_24 {
  @apply font-bold text-2xl;
}
.caption_semibold_24 {
  @apply font-semibold text-2xl;
}
.caption_regular_24 {
  @apply font-normal text-2xl;
}

.caption_bold_32 {
  @apply font-bold text-4xl;
}
.caption_semibold_32 {
  @apply font-semibold text-4xl;
}
.caption_regular_32 {
  @apply font-normal text-4xl;
}

.caption_bold_40 {
  @apply font-bold text-5xl;
}
.caption_semibold_40 {
  @apply font-semibold text-5xl;
}
.caption_regular_40 {
  @apply font-normal text-5xl;
}

/* body { */
/*   color: rgb(var(--foreground-rgb)); */
/*   background: linear-gradient( */
/*       to bottom, */
/*       transparent, */
/*       rgb(var(--background-end-rgb)) */
/*     ) */
/*     rgb(var(--background-start-rgb)); */
/* } */
/**/
/* @layer utilities { */
/*   .text-balance { */
/*     text-wrap: balance; */
/*   } */
/* } */
